/* style for entire webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

p {
    font-size: 16px;
}

body {/* Gives off-white background color */
    background-color: #d7d6dc;
}

/* Style for blue header bar and navigation */

.header {/* blue bar */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {/* company name */
    display: inline-block;
    font-size: 48px;
}

#seo {/* company name */
    color: #d9dcd6;
}

.header nav {/* navigation bar */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
}

.header nav ul {/* navigation bar */
    list-style-type: none;
}

.header nav ul li {/* navigation bar */
    display: inline-block;
    margin-left: 25px; 
}

a {/* navigation bar - link color */
    color: #ffffff;
    text-decoration: none; 
}


/* main image */
#main_image {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* main content container */
.main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* main content - 3 blue boxes left */
.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left {/* images in main content */
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {/* images in main content */
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

h2 {/* headers in main content */
    margin-bottom: 20px;
    font-size: 36px;
}



.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}